:root {
  /* primary */
  --color-primary-blue: #e0e8ff;
  --color-primary-bright-blue: #3829e0;

  /* neutral */
  --color-neutral-pale-blue: #f5f7ff;
  --color-neutral-desturated-blue: #7280a7;
  --color-neutral-dark-blue: #1f2f56;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Red Hat Display', sans-serif;
}
