:root {
  /* primary */
  --color-primary-blue: #e0e8ff;
  --color-primary-bright-blue: #3829e0;

  /* neutral */
  --color-neutral-pale-blue: #f5f7ff;
  --color-neutral-desturated-blue: #7280a7;
  --color-neutral-dark-blue: #1f2f56;
  --color-neutral-white: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Red Hat Display", sans-serif;
}

body {
  background: url(../images/pattern-background-desktop.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* button */
.btn {
  padding: 1rem 2rem;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 1rem;
  margin-top: 1rem;
  display: inline-block;
  width: 100%;
  margin-bottom: 1rem;
}

.btn-primary {
  background: var(--color-primary-bright-blue);
  color: var(--color-neutral-white);
  box-shadow: 0 4px 1rem var(--color-primary-bright-blue);
}

.btn-primary:hover {
  background: var(--color-neutral-desturated-blue);
  transition: background 1s;
}

/* headings */
h3 {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-neutral-dark-blue);
  margin-bottom: 1rem;
}

/* paragrpah */
p {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  color: var(--color-neutral-desturated-blue);
  line-height: 2rem;
}

/* detail card */
.detail-card {
  background: var(--color-neutral-pale-blue);
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-radius: 1.2rem;
  padding: 1rem 2rem;
  margin: 3rem 0;
}

.detail-card__section-1 {
  display: flex;
  flex-direction: row;
}

.detail-card img {
  margin-right: 1rem;
}

.detail-card p {
  color: var(--color-neutral-desturated-blue);
  padding: 0;
}

.detail-card a {
  font-size: 1.2rem;
  color: var(--color-primary-bright-blue);
  cursor: pointer;
}

/* card */
.card {
  width: 20%;
  margin: 0 auto;
  margin-top: 5rem;
  background: var(--color-neutral-white);
  border-radius: 1rem;
  overflow: hidden;
}

.card img {
  width: 100%;
  background: var(--color-neutral-white);
}

.card__content-container {
  width: 90%;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

/* media queries */
/* mobile */
@media screen and (max-width: 375px) {
  body {
    background: var(--color-primary-blue);
  }

  .card {
    width: 80%;
  }
}

/* tablet */
@media screen and (min-width: 375px) and (max-width: 768px) {
  body {
    background: var(--color-primary-blue);
  }

  .card {
    width: 60%;
  }

  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 1.5rem;
  }

  .btn {
    font-size: 1.5rem;
  }
}

/* desktop */
@media screen and (min-width: 768px) and (max-width: 1440px) {
  body {
    background: url(../images/pattern-background-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card {
    width: 30%;
  }
}
